@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1, p {
  font-family: 'Permanent Marker', cursive;
  color: blanchedalmond;
  text-align: center;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  color: blanchedalmond;
}

body {
  background-image: url(/src/photos/bgphoto.JPG);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}