@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

#navbar {
  background: linear-gradient(to right, #f3ac69, #d37b34, #60106B);
}

.nav-link {
  color: rgb(232, 217, 217);
 
}

.navbar-nav .active {
  border-top: 4px solid #f3ac69;
  border-bottom: 4px solid #f3ac69;
}

.nav-link:hover {
  border-top: 4px solid blanchedalmond;
  border-bottom: 4px solid blanchedalmond;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  color: blanchedalmond;
}

main {
  background-repeat: no-repeat; 
  background-position: center ;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

h2, p {
  font-family: 'Permanent Marker', cursive;
  color: blanchedalmond;
  text-align: center;
}

.site-footer {
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(to right, #f3ac69, #d37b34, #60106B);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
