@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h2, p {
  font-family: 'Permanent Marker', cursive;
  color: blanchedalmond;
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: blanchedalmond;
}

body {
  background-image: url(/src/photos/bgphoto.JPG);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

/* .cover-container {
  max-width: 42em;
} */

/* #mask {
  background-color:  rgba(0, 0, 0, 0.6);
} */

.site-footer{
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(to right, #f3ac69, #d37b34, #60106B);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#navbar {
  background: linear-gradient(to right, #f3ac69, #d37b34, #60106B);
}